table {
	border: 5px solid gold;
}
td:hover {
	background-color: cyan;
	color: black;
}
tr, th {
	background-color: springgreen;
	color: darkslategrey;
}
tr, td {
	background-color: darksalmon;
	color: black;
}