/* Gallery section animation */

p {
    font-weight: 300;
    line-height: 20px;
    /* space inbetween lines */
    padding-bottom: 15px;
}

.photo {
    position: absolute;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    /* anything that goes beyond edge of photo is hidden */
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: #ff0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.photo.container {
    text-align: center;
    margin: 15px auto;
    /* auto will center it */
    width: 500px;
    height: 312px;
}

.photo-container img {
    max-width: 100%;
    width: 500px;
    height: 312px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    /* for centering text inside .photo*/
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.white-head {
    color: #c9bdaa;
    margin-top: 20%;
    line-height: 30px;
    padding-bottom: 20px;
    text-align: center;
}

/*photo overlay transition */

.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    /* transsition property is "opacity" meaning it will transition between 0-1, in .1second */
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay p {
    width: 100%;
    height: 100%;
    color: #fff;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}